html {
    background-color: #256D85;
}



header {
    display: flex;
    justify-content: center;
    /* margin-top: -30px; */
    align-items: center;
    height: 100px;
    background-color : #002B5B;
    margin: -10px auto;

}

.odin {

    color: #8FE3CF;
    text-align: center;
}

a {
    color: #8FE3CF;
}

a:hover {
    text-decoration: none;
}


.menu-container {
    display: flex;
    flex-direction: column;
    margin: -20px auto;
}

.menu {
    text-align: center;
    background-color: #2B4865;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;

}

.menu-items {
    color: #8FE3CF;
    display: table;
    margin: 0 auto;
    /* list-style: none; */
    text-align: left;
}